


<br/>
<div class="col-sm-8">
  <%= form_for @user, :url => { action: :create, method: "post", authenticity_token: true} do |f| %>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <%= f.text_field :email %>
  </div>
  <div class="form-group">
    <%= f.hidden_field :last_sign_in_picture %>
  </div>
  <div class="form-group">
    <%#<div id="camera_info"></div>
    <div id="stream_stats"></div>%>
    <div id="camera">
      <div class="placeholder">
        Your browser does not support camera access.<br> We recommend
        <a href="https://www.google.com/chrome/" target="_blank">Chrome</a>
        &mdash; modern, secure, fast browser from Google.<br>
        It's free.
      </div>
    </div>
    <div id="snapshots"></div>
    <br>
    <button id="take_snapshots" class="btn btn-success">Take more snapshots</button>
    <%#<button id="show_stream" class="btn btn-primary">Show stream</button>%>
    <button id="discard_snapshot" class="btn btn-danger">Discard snapshot</button>
    
    <button id="upload_snapshot" class="btn btn-default">Upload to URL</button><br>
    <%#<img src="https://c2945176.ngrok.io/assets/faceauth/loader.gif" id="loader">%>
    <div id="upload_status"></div>
    <div id="upload_result"></div>
  </div>
  <div class="form-group">
    <%= f.submit 'Sign In', class: "btn btn-default" %>
  </div>
  <% end -%>
</div>


Final Form:


<div class="faceauth-signin-form">
  <h2>Log in using your face</h2>
  <strong>Note:</strong> Please ensure to have proper lighting in your environment before taking a snap.
  <div id="camera_info" style="display:none;"></div>
  <div id="stream_stats" style="display:none;"></div>
  <div id="upload_status"></div>
  <div id="upload_result"></div>
  * Email: <input type="email" name="email" id="user_email"><br>
  <div id="camera">
    <div class="placeholder">
      Your browser does not support camera access.<br>
      We recommend
      <a href="https://www.google.com/chrome/" target="_blank">Chrome</a>
      &mdash; modern, secure, fast browser from Google.<br>
      It's free.
    </div>
  </div><br>
  <button id="take_snapshots" class="btn btn-success">Take a snap</button>
  <button id="discard_snapshot" class="btn btn-danger">Discard snapshot</button>
  <button id="upload_snapshot" class="btn btn-default">Sign In</button>
  <%=image_tag("/assets/faceauth/loader.gif", id: "upload_loader", style: "display:none;")%>
  <br>
  <!-- <button id="show_stream" class="btn btn-default">Show stream</button><br>-->
  <div id="snapshots"></div>
</div>
